{% extends 'base.html' %}
{% load static %}

{% block title %}
Car Parking Net System - Vashudev Bird Control{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/bird-netting-service.css' %}">
{% endblock %}

{% block pagesection %} Car Parking Net System{% endblock %}
{% block headpage %}> Car Parking Net System {% endblock %}

{% block content %}

<!-- main part of bird-netting-services -->

<section class="bird-netting-services">
    <div class="container">
        <div class="row bird-netting-row">
            <div class="col-lg-4">
                <div class="different-section-link">
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><a href="{% url 'bird-netting-services' %}">BIRD NETTING SERVICES</a></li>
                        <li data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><a href="{% url 'bird-spike-system' %}">BIRD SPIKE SYSTEM</a></li>
                        <li data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><a href="{% url 'sport-net' %}">SPORT NET</a></li>
                        <li data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><a href="{% url 'swimming-pool-protect-net-system' %}">SWIMMING POOL PROTECT NET SYSTEM</a></li>
                        <li data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><a href="{% url 'car-parking-net-system' %}">CAR PARKING NET SYSTEM</a></li>
                        <li data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><a href="{% url 'safety-nets' %}">SAFETY NETS</a></li>
                    </ul>
                </div>
                <div class="contact-container mb-5" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <img src="{% static 'image/about-image-1-681x1024.jpg' %}" alt="Bird Image"
                        class="background-image">
                    <div class="overlay">
                        <p>Have any Question?<br>Contact Us Now</p>
                        <h2>Call</h2>
                        <h1><a href="tel:8076246674" class="text-white">8076246674</a></h1>
                        <p><a href="mailto:vashudevbirdcontrol@gmail.com"
                                class="text-white">vashudevbirdcontrol@gmail.com</a></p>
                    </div>
                </div>
                <div class="bird-contact-form mb-5" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <a href="{% url 'contact' %}" class="me-1"><b>Contact Us</b> <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>

            <div class="col-lg-7 ps-4">
                <div class="bird-netting-img" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <img src="{% static 'image/s6.png' %}" alt="">
                </div>
                <div class="bird-netting-heading" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <h2 class="my-4">Car Parking Net System</h2>
                    <p class="my-3">Welcome to our car parking net system installation service, where we prioritize the
                        safety and protection of your vehicle while considering the balance between security,
                        convenience, and aesthetics. Our goal is to provide you with a reliable solution that safeguards
                        your car from the elements and enhances the visual appeal of your parking area.</p>
                </div>
                <div class="bird-netting-heading" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <h2 class="my-4">Car Parking Net System Features and Benefits</h2>
                    <p class="my-3"><b>Vehicle Protection:</b> Our car parking net systems act as a protective barrier,
                        shielding your vehicle from harsh weather conditions such as sun exposure, hail, and debris,
                        helping to extend its lifespan and maintain its appearance. </p>
                    <p><b>Durable Materials:</b> Constructed from high-quality materials such as UV-resistant polyethylene or polyester, our parking nets are designed to withstand outdoor elements and provide long-lasting protection for your vehicle.</p>
                        <p><b>Space Optimization:</b>
                        By utilizing overhead space for parking, our net systems help optimize parking space
                        utilization, allowing you to park more vehicles in a confined area and maximizing the efficiency
                        of your parking lot or garage.</p>
                    
                    <p><b>Customizable Design:</b>
                        We offer customizable sizing, colors, and installation options to suit your specific parking
                        needs and aesthetic preferences, ensuring that the net system seamlessly integrates with your
                        property.</p>
                </div>
                <div class="bird-netting-heading" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <h2 class="my-4">How It Works</h2>
                    <p class=""><b>Consultation and Site Assessment: </b> We begin by conducting a thorough consultation to understand your parking requirements and assess the layout of your parking area. Our team will work closely with you to determine the most suitable netting solution for your needs.</p>
                    <p><b>Custom Design and Fabrication: </b>Based on our assessment, we develop a customized design for your car parking net system, taking into account factors such as parking space dimensions, vehicle size, and aesthetic considerations. We ensure that the net is securely anchored and properly tensioned for optimal performance.</p>
                    <p><b>Professional Installation : </b> Our experienced technicians handle the installation process with precision and care, ensuring that the parking net system is securely mounted and meets all safety standards. We take care to minimize any visual impact on your property, preserving its aesthetic appeal.
                    </p>
                    <p><b>Ongoing Maintenance and Support : </b>We provide ongoing maintenance services to keep your car parking net system in top condition, including inspections, repairs, and adjustments as needed to ensure continued effectiveness over time.</p>
                    <p>Protect your vehicle and enhance the functionality of your parking area with our car parking net system installation service. Our customizable solutions offer the perfect balance of security, convenience, and aesthetics, ensuring peace of mind for you and your vehicles. Contact us today to learn more about how we can help you create a safer and more efficient parking environment.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}