{% extends 'base.html' %}
{% load static %}

{% block title %}Gallery - Vashudev Bird Control{% endblock %}
{% block link %}
<!-- <link rel="stylesheet" href="{% static 'css/about.css' %}"> -->
{% endblock %}

{% block pagesection %}Gallery {% endblock %}
{% block headpage %}> Gallery  {% endblock %}

{% block content %}

<!-- main image start  -->
<!-- gallery section start  -->
<section class="our-work pt-5 mb-5">
    <div class="row mb-5 pt-5 text-center">
      <div>
        <h4 class="service-subheading">VASHUDEV BIRD CONTROL</h4>
        <h2 class="service-heading">OUR GALLERY</h2>
      </div>
      </div>
   <div class="container">
    <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4 row-cols-lg-4">
        <div class="col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="card">
            <img src="{% static 'image/s1.png' %}" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="card">
            <img src="{% static 'image/s2.png' %}" class="card-img-top" alt="...">
             
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="card">
            <img src="{% static 'image/s4.png' %}" class="card-img-top" alt="...">
             
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="card">
            <img src="{% static 'image/s5.png' %}" class="card-img-top" alt="...">
             
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="card">
            <img src="{% static 'image/s6.png' %}" class="card-img-top" alt="...">
             
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="card">
            <img src="{% static 'image/s7.png' %}" class="card-img-top" alt="...">
             
          </div>
        </div>
         <div class="col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="card">
            <img src="{% static 'image/s8.png' %}" class="card-img-top" alt="...">  
          </div>
        </div>
         <div class="col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="card">
            <img src="{% static 'image/s9.png' %}" class="card-img-top" alt="...">
           
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="card">
            <img src="{% static 'image/s10.png' %}" class="card-img-top" alt="...">
           
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="card">
            <img src="{% static 'image/s11.png' %}" class="card-img-top" alt="...">
           
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="card">
            <img src="{% static 'image/s12.png' %}" class="card-img-top" alt="...">
           
          </div>
        </div>
        <div class="col" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
          <div class="card">
            <img src="{% static 'image/s13.png' %}" class="card-img-top" alt="...">
           
          </div>
        </div>
      </div>
   </div>
  </section>
  

{% endblock %}