{% extends 'base.html' %}
{% load static %}

{% block title %}Safety Nets - Vashudev Bird Control{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/bird-netting-service.css' %}">
{% endblock %}

{% block pagesection %}Safety Nets{% endblock %}
{% block headpage %}> Safety Nets{% endblock %}

{% block content %}

<!-- main part of bird-netting-services -->

<section class="bird-netting-services">
    <div class="container">
    <div class="row bird-netting-row">
        <div class="col-lg-4">
            <div class="different-section-link">
            <ul>
                <li data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><a href="{% url 'bird-netting-services' %}">BIRD NETTING SERVICES</a></li>
                <li data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><a href="{% url 'bird-spike-system' %}">BIRD SPIKE SYSTEM</a></li>
                <li data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><a href="{% url 'sport-net' %}">SPORT NET</a></li>
                <li data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><a href="{% url 'swimming-pool-protect-net-system' %}">SWIMMING POOL PROTECT NET SYSTEM</a></li>
                <li data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><a href="{% url 'car-parking-net-system' %}">CAR PARKING NET SYSTEM</a></li>
                <li data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000"><a href="{% url 'safety-nets' %}">SAFETY NETS</a></li>
            
            </ul>
            </div>
            <div class="contact-container mb-5" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                <img src="{% static 'image/about-image-1-681x1024.jpg' %}" alt="Bird Image" class="background-image">
                <div class="overlay" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                    <p>Have any Question?<br>Contact Us Now</p>
                    <h2>Call</h2>
                    <h1><a href="tel:8076246674" class="text-white">8076246674</a></h1>
                    <p><a href="mailto:vashudevbirdcontrol@gmail.com" class="text-white">vashudevbirdcontrol@gmail.com</a></p>
                </div>
            </div>
            <div class="bird-contact-form mb-5" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                <a href="{% url 'contact' %}" class="me-1"><b>Contact Us</b> <i class="fa-solid fa-arrow-right"></i></a>
            </div>
    </div>
    
        <div class="col-lg-7 ps-4">
            <div class="bird-netting-img" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                <img src="{% static 'image/s7.png' %}" alt="">
            </div>
            <div class="bird-netting-heading" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                <h2 class="my-4">Safety Nets</h2>
                <p class="my-3">Welcome to our safety net installation service, where we prioritize the safety and well-being of individuals and properties by offering high-quality safety net solutions. Our goal is to provide you with peace of mind while considering the balance between protection, functionality, and aesthetics.</p>
            </div>
            <div class="bird-netting-heading" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                <h2 class="my-4">Safety Nets Features and Benefits</h2>
                <p class="my-3"><b> Fall Protection:</b> Our safety nets act as a reliable barrier to prevent falls from elevated areas such as construction sites, rooftops, and bridges, reducing the risk of injuries and fatalities.
                </p>
                <p><b> Versatile Applications: </b>Whether you need fall protection for construction projects, debris containment for demolition sites, or barrier netting for sports facilities, our safety nets are designed to meet a wide range of needs and applications.
                </p>
                <p><b>Durable Materials: </b>Constructed from durable materials such as nylon, polyethylene, or polyester, our safety nets are engineered to withstand heavy loads and harsh environmental conditions, providing long-lasting protection.
                </p>
                <p><b> Customizable Design:</b> We offer customizable sizing, colors, and installation options to suit your specific safety requirements and aesthetic preferences, ensuring that the net system seamlessly integrates with your environment.</p>
            </div>
            <div class="bird-netting-heading" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
                <h2 class="my-4">How It Works</h2>
                <p class=""><b>Consultation and Site Assessment: </b>We begin by conducting a thorough consultation to understand your pool protection needs and assess the layout of your pool area. Our team will work closely with you to determine the most suitable netting solution for your requirements.</p>
                <p><b>Custom Design and Fabrication:</b> Based on our assessment, we develop a customized design for your pool protection net system, taking into account factors such as pool size, shape, and surrounding landscape. We ensure that the net is securely anchored and properly tensioned for optimal performance.</p>
                <p><b>Professional Installation : </b>Our experienced technicians handle the installation process with precision and care, ensuring that the pool net is securely mounted and meets all safety standards. We take care to minimize any visual impact on your pool area, preserving its aesthetic appeal.
                </p>
                <p><b>Ongoing Maintenance and Support : </b>We provide ongoing maintenance services to keep your pool protection net system in top condition, including inspections, repairs, and adjustments as needed to ensure continued effectiveness over time.

                </p>
                <p>Ensure the safety and well-being of individuals and properties with our comprehensive safety net installation service. Our customizable solutions offer the perfect balance of protection, functionality, and aesthetics, providing peace of mind for you and your stakeholders. Contact us today to learn more about how we can help you create a safer environment.</p>
            </div>
        </div>
    </div>
    </div>
    </section>
{% endblock %}